# Ignorar bin e obj, comuns em projetos .NET
bin/
obj/

# Ignorar configurações de ambiente, geralmente não versionadas
appsettings.json
appsettings.Development.json

# Ignorar a pasta do Visual Studio e arquivos temporários
.vs/
